nav {
  padding: 15px;
  display: flex;
  align-items: center;
 font-family: 'Comfortaa', cursive;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;


  .logo{
    display: inline-block;
    background: #37c0d6;
    color: #fff;
    padding: 7px;
    font-size: 14px;
    border: 7px solid #1ab6cf;
  }

  .menu {
    // display: inline-block;
    float: right;

    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
      margin-right: 25px;
      font-size: 13px;
      color: #666;
      font-weight: 700;
    }
  }
}