@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  margin: 0;
  padding: 0;
}

body .wrapper {
  width: 100%;
  height: 60vh;
  overflow: auto;
  margin-bottom: 40px;
}

body .wrapper .btn-info {
  background: #1ab6cf;
  border-color: #1ab6cf;
}

body .wrapper .left-container {
  float: left;
  width: 40%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .left-container img {
  width: 100%;
}

body .wrapper .right-container {
  width: 60%;
  float: right;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

body .wrapper .right-container .heading {
  font-family: 'Comfortaa', cursive;
  font-size: 3.5rem;
  color: #666;
  margin-bottom: 20px;
  font-weight: 700;
}

body .wrapper .right-container .heading.animated {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body .wrapper .right-container .content {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666;
}

body .wrapper .right-container .content.animated {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body .wrapper .right-container .form-group.animated {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body .wrapper .right-container label {
  font-size: .9rem;
  font-weight: 500;
  color: #555;
  display: block;
  margin-bottom: 20px;
}

body .wrapper .right-container .form-control {
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  padding: 0;
  border: 0;
}

body .wrapper .right-container .form-control.expand {
  width: 65%;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 20px 15px;
  margin-right: -35px;
  margin-bottom: 0;
}

body .wrapper .right-container .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
  font-size: 14px;
}

body .wrapper .right-container .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
  font-size: 14px;
}

body .wrapper .right-container .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
  font-size: 14px;
}

body .wrapper .right-container .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  font-size: 14px;
}

body .wrapper .right-container .btn-subscribe {
  border-radius: 25px;
  text-align: center;
  position: relative;
  top: -3px;
  width: 100px;
  height: 45px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.3);
}

body .wrapper .right-container .btn-subscribe.expand {
  width: 100%;
  height: 285px;
  border-radius: 10px;
}

.speakers {
  text-align: center;
  position: relative;
}

.speakers.animated {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.speakers .watermark {
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-size: 35px;
  position: absolute;
  letter-spacing: 45px;
  left: 51.6%;
  opacity: .1;
  top: -58px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.speakers .slide {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
}

.speakers .slide img {
  border-radius: 50%;
  width: 60px;
}

.speakers .slide.active {
  margin-top: -10px;
}

.speakers .slide.active .image-container {
  position: relative;
  display: inline-block;
}

.speakers .slide.active .image-container::before, .speakers .slide.active .image-container::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #7adeee;
  top: -5px;
  left: -5px;
  z-index: -1;
}

.speakers .slide.active .image-container::after {
  width: 100px;
  height: 100px;
  background: #17a2b8;
  opacity: .3;
  top: -10px;
  left: -10px;
}

.speakers .slide.active .image-container img {
  width: 80px;
  border: 5px solid #1ab6cf;
}

.speakers .slide .speaker-label {
  display: block;
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 14px;
  color: #516064;
  font-style: italic;
}

.speakers .slide .speaker-label span {
  font-size: 12px;
  color: #687b80;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */